<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/footer.css" rel="stylesheet">
</head>
<body>
    <footer class='footer'>
        <div class='mapaCategorias'>
            <h4>Mapa de Categorias</h4>
            <div id="idMapaCategorias">
                <div>
                    <ul>
                        <li><a href="">Mesas</a></li>
                        <li><a href="">Racks</a></li>
                        <li><a href="">Armários</a></li>
                        <li><a href="">Estantes</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="">Guarda-roupas</a></li>
                        <li><a href="">Sofás</a></li>
                        <li><a href="">Cadeiras</a></li>
                        <li><a href="">Bancos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='ajuda'>
            <h4>Ajuda</h4>
            <ul>
                <li><a href="">Dúvidas frequentes</a></li>
                <li><a href="">Devoluções</a></li>
                <li><a href="">Termos de uso</a></li>
            </ul>
        </div>
        <div class='square'>
            <h4>Square</h4>
            <ul>
                <li><a href="">Sobre a Square</a></li>
                <li><a href="">Parcerias</a></li>
                <li><a href="">Trabalhe Conosco</a></li>
            </ul>
        </div>
        <div class="social">
            <h4>Social</h4>
            <div>
                <a href=""><img href="" src="/images/social/facebook.png" alt="facebook"/></a>
                <a href=""> <img href="" src="/images/social/instagram.png" alt="instagram"/></a>
                <a href=""><img href="" src="/images/social/whatsapp.png" alt="whatsapp"/></a>
            </div>
        </div>
    </footer>
</body>
</html>