<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/header.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header">
            <div>
                <a href="/"><img id="logo" src="\images\logo\LogoP_preto.png" alt="logo"></a>
            </div>
            <div class="divBarraDePesquisa">
                <button id="botaoLupa"><a href=""><img id="lupa" src="\images\icones\lupa.png"></a></button>
                <form action="" method="GET"></form>
                    <input id="barraDePesquisa" type="text" placeholder="Pesquisar...">
                </form>
            </div>
            <ul id="divBotoesBarraDePesquisa">
                <button id="botaoCarrinho" href=""><a href="">Carrinho</a></button>
                <button id="botaoMeusPedidos" href=""><a href="">Meus Pedidos</a></button>
                <button id="botaoCadastre" href=""><a href="">Cadastre-se</a></button>
                <button id="botaoLogin" href=""><a href="">Login</a></button>
            </ul>
            <div class="hamburguer">
                <a><img src="/images/icones/hamburguer.png" alt="hamburguer"></a>
            </div>
        </div>
        <nav id="navMenu">
            <button class="botaoMenu" href=""><a href="">Mesas</a></button></a>
            <button class="botaoMenu" href=""><a href="">Estantes</a></button></a>
            <button class="botaoMenu" href=""><a href="">Cadeiras</a></button></a>
            <button class="botaoMenu" href=""><a href="">Bancos</a></button></a>
            <button class="botaoMenu" href=""><a href="">Sofás</a></button></a>
            <button class="botaoMenu" href=""><a href="">Armários</a></button></a>
            <button class="botaoMenu" href=""><a href="">Guarda-roupas</a></button></a>
            <button class="botaoMenu" href=""><a href="">Racks</a></button></a>
        </nav>
    </header>
</body>
</html>