<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/carrinho.css" rel="stylesheet">
    <title>Carrinho</title>
</head>
<body>
    <%- include('./partials/header') %>
    <section class="iconeCarrinho">
        <img src="/images/icones/cart.png" alt="carrinho">
        <h1>Carrinho</h1>
    </section>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor unitário</th>
                <th>Quantidade</th>
                <th>Valor total</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="/images/mais_vendidos/banco.jpg"></td>
                <td>R$200,00</td>
                <td>
                    <img src="">
                    1
                    <img src="">
                </td>
                <td>R$200,00</td>
                <td>
                    <img src="">
                    Remover
                </td>
            </tr>
        </tbody>
    </table>
    <%- include('./partials/footer') %>
</body>
</html>