<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/carrinho.css" rel="stylesheet">
    <title>Carrinho</title>
    
</head>
<body>
    <script type="text/javascript" src="/javascripts/mudarQuantidade.js"></script>
    
    <%- include('./partials/header') %>
    <section class="iconeCarrinho">
        <img src="/images/icones/cart.png" alt="carrinho">
        <h1>Carrinho</h1>
    </section>
    <section class="carrinho">
        <div class="emColuna">
            <h3>Produto</h3>
            <div class="produto">
                <a href=""><img src="\images\mais_vendidos\banco.jpg" alt=""></a>
                <p>Cadeira</p>
            </div>
        </div>
        <div class="emColuna">
            <h3>Valor Unitário</h3>
            <p>R$200,00</p>
        </div>
        <div class="emColuna">
            <h3>Quantidade</h3>
            <% let quantidade = 100 %>
            <div class="emLinha" id="quantidade">
                
                <a href=""><button onclick="decrementa()">-</button></a>
                <input id=quantidadeItens type=number value="0">
                <a href=""><button onclick="incrementa()">+</button></a>
            </div>
        </div>
        <div class="emColuna">
            <h3>Valor total</h3>
            <p>R$200,00</p>
        </div>
        <div class="emColuna">
            <h3 id="h3Remover">.</h3>
            <a href=""><p id="remover">Remover</p></a>
        </div>
    </section>
    <%- include('./partials/footer') %>
    <script type="text/javascript" src="/javascripts/mudarQuantidade.js"></script>
</body>

</html>