#logo{
    width: 200px;
    display: flex;
    align-items: left;
    margin-left: 20px;
}
a{
    text-decoration: none;
}
#lupa{
    width: 20px;
    display: flex;    
}
#botaoLupa{
    background-color: #FFBF00;
    border-color: #FFBF00;
    border: none;
}
#barraDePesquisa{
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    border: none;
    text-align: left;
    width: 500px;
    height: 30px;
    border-radius: 5px;
}
.divBarraDePesquisa{
    position: relative;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFBF00;
}
#botaoCarrinho{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}
#botaoMeusPedidos{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-left: 15px;
}
#botaoCadastre{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-left: 15px;
}
#botaoLogin{
    background-color: #4b3621;
    color: #FFBF00;
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    margin-left: 15px;
    margin-right: 20px;
}
body{
    margin: 0;
}
#navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4b3621;
}
.botaoMenu{
    border: none;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    color: #FFBF00;
    background-color: #4b3621;
}
.hamburguer{
    display: none;
}
.menuMobile{
    display: none;
}


@media (max-width: 1440px)  {
    .menuMobile{
        display: block;
    }
    #divBotoesBarraDePesquisa{
        display: none;
    }
    .hamburguer, .toggle{
        display: block;
    }
    .hamburguer img, .toggle{
        width: 6vh;
    }
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1%;
    }
    #navMenu{
        display: none;
    }
    #barraDePesquisa{
        width: 30vw;
    }
    /* menu */

    nav.show .menu{  
        display: block;      
        background-color: #FFBF00;
        color: #4b3621;
        height: 100vh;
        width: 100vw;
        position: fixed;        
        display: grid;
        place-content: center;
        top: 0;
        left: 0;
        z-index: 2;
    }

    nav.show .close{
        display: block;
        position: fixed;        
        box-sizing: border-box;
        text-align: right;
        top: 20px;
        right: 1rem;
        width: 20vw;
        color: #4b3621;
        z-index: 3;
    }

    nav .hamburguer{
        display: flex;
        width: 20vw;
        justify-content: center;
    }

    nav.show .hamburguer{
        display: none;

    }
    
    nav .close{
        display: none;
    }

    nav .menu{
        display: none;
    }

    .toggle{
        cursor: pointer;
    }
    .menu ul, .menu a{
        font-size:x-large;
        color: #4b3621;
        list-style: none;
        line-height: 2rem;
    }
    
}