body{
    margin: 0;
    background-color: #e9e9e9;
}

.carrossel{
    width: 100%;
    overflow: hidden;
}
.fotos{
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.carrossel img{
    width: 19.9%;
}
@keyframes animacao {
    0% {margin-left: 0;}
    17% {margin-left: 0;}
    22% {margin-left: -100%;}
    37% {margin-left: -100%;}
    42% {margin-left: -200%;}
    57% {margin-left: -200%;}
    62% {margin-left: -300%;}
    77% {margin-left: -300%;}
    82% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

/* mais vendidos */
.maisVendidos img{
    width: 80%;
}
.maisVendidos{
    margin: 0;
    margin-bottom: 20px;
}
.maisVendidos h3{
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
#listaMaisVendidos{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

/*seção por ambientes*/

.ambientes{
    margin:0;
    background-color: #ffbf00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.ambientes button{
    color: #ffbf00;
    background-color: #4b3621;
    padding: 50px;
    border-radius: 50%;
    font-size: 20px;
}
#botaoEscritorio{
    padding-right: 30px;
    padding-left: 30px;
}
#botaoQuarto{
    padding-right: 35px;
    padding-left: 35px;
}
#botaoCozinha{
    padding-right: 30px;
    padding-left: 30px;
}

@media (max-width: 1440px){
    .maisVendidos img{
        width: 20vh;
        margin: 10%;
    }
    #listaMaisVendidos{
        flex-wrap: wrap;
    }
    .ambientes{
        flex-wrap: wrap;
    }
    .botaoAmbientes{
        margin: 5%;
    }
}