.formulario{
    width: 75%;
    height: 75vh;
    background-color:#E7AD01;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.campos{
    padding: 1%;
    width: 50%;
    margin: 1%;
}
.cadastro{
    display: flex;
    justify-content: center;
}
.formulario button{
    background-color:#4B3621;
    color:#E7AD01;
    border: none;
    font-weight: 900;
}
h1{
    color:#4B3621;
}
